<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ base_url() }}/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/app.css">
</head>
<body>
	{% include 'templates/partials/navigation.twig' %}
	<div class="container">
		{% include 'templates/partials/flash.twig' %}
		{% block content %}{% endblock %}
		
	</div>

	<script  src="{{ base_url() }}/../vendor/components/jquery/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ base_url() }}/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>